html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  max-width: 900px;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 18px;
  color: #333;
  background-color: #f9f9f9;
  padding: 2em 1em;
  text-rendering: optimizeLegibility;
  height: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #eee;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.8;
  margin: 0;
  padding: 10px 12px;
  text-transform: inherit;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

/* 이게 그 취람색? 이래요 */
a.link {
  color: inherit;
  border-bottom: 2px solid #5dc19b;
  transition: color 0.3s ease, background-color 0.3s ease;
}

a.link:hover {
  color: #f9f9f9;
  background-color: #5dc19b;
  border-bottom-color: transparent;
}


/* 헤더 스타일 */
header {
  background-color: #f9f9f9;
  padding: 10px 20px;
}

/* 내비게이션 바 */
nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin: 0;
  padding: 0;
}

/* 내비게이션 항목 링크 스타일 */
nav ul li a {
  text-decoration: none;
  color: #5dc19b;
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.8;
  font-size: 16px;
  padding: 8px 12px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #2e6f5a;
  border-radius: 4px;
}

/* 아카이브 전용 */
.arc {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.arc:hover {
  color: inherit;
  border-bottom: 2px solid #5dc19b;
  transition: color 0.3s ease, background-color 0.3s ease;
}

