body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 20px;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

strong {
  color: #007BFF; /* 파란색 강조 */
  font-weight: bold;
}


/* 헤더 스타일 */
header {
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 10px;
  background-color: #f0f0f0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #eee;
  margin-top: 40px;
}
